#root {
  align-items: center;
  text-align: center;
}

/* ---------------------HEADER--------------------- */
.Header {
  background-color: #161a41;
  color: white;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header .left {
  display: flex;
  align-items: center;
}

.Header img {
  width: 4vw;
  height: 4vw;
  background-color: white;
  border-radius: 50%;
  margin-left: 1vw;
}

.Header h2 {
  margin-left: 1.5vw;
}

.Header .right button {
  margin-right: 2.5vw;
  border-radius: 50px;
  align-items: left;
}

/* ---------------------HEADER--------------------- */

/* ---------------------HOME----------------------- */
.App .home-body,
.payment-body {
  background-color: #171c4e;
  height: 100vh;
  border-radius: none;
}

.products,
.payment-body-cards {
  padding-top: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-card {
  width: 20vw;
}

.product-card img {
  border: 1px solid black;
  height: 15vw;
}

.chain-btn, .payUsingMetamskBtn {
  margin-left: 5px;
  padding: .5vw 0vw .6vw 0;
  border-radius: 50px;
  align-items: left;
  color: white;
  width: 10vw;
  background-color: #171c4e;

}

/* ---------------------HOME----------------------- */
.payUsingMetamskBtn{
  width: 20vw;
}
.token-Buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* background-color: red; */
}

.token-Buttons button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #767b77bc;
  border: 1px solid #767b77bc;
  border-radius: 10px;
  width: 15vw;
}
.token-Buttons-Link{
  text-decoration: none;
}

.token-Buttons button img {
  border-radius: 50px;
  width: 2vw;
  height: 2vw;
}

.payment-card {
  width: 40vw;
}


/* ================TOKEN PAYMENT MODEL=============== */
.tokenPaymentModel{
  width: 60vw;
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #171c4e;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 19%;
  transform: 'translate(-50%, -50%)';
  color: white;
}

.subCancelBtn{
  position:absolute;
  bottom: 5%;
  right: 5%;
}
.subCancelBtn :nth-child(2){
  margin-left: 2vw;
}